.hero {
  position: relative;
  height: 90vh;
  background-size: cover;
  background-position: center;

  display: flex;
  align-items: center;
  padding: clamp(20px, 6vw, 80px);
}

.hero-content {
  max-width: 600px;
  z-index: 2;
}

.hero-content h1 {
  font-size: clamp(2rem, 5vw, 4rem);
  margin-bottom: 16px;
}

.hero-content p {
  font-size: clamp(0.9rem, 1.5vw, 1.1rem);
  line-height: 1.5;
  max-width: 500px;
}

.hero-buttons {
  margin-top: 20px;
  display: flex;
  gap: 12px;
}

.play {
  background: white;
  color: black;
  padding: 10px 22px;
  border-radius: 4px;
}

.info {
  background: rgba(109, 109, 110, 0.7);
  color: white;
  padding: 10px 22px;
  border-radius: 4px;
}

.hero-fade {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 120px;
  background: linear-gradient(to top, #141414, transparent);
}
