.projects-page {
  background: #141414;
  min-height: 100vh;
  padding: 120px clamp(16px, 5vw, 80px);
  color: white;
}

.projects-title {
  font-size: clamp(2rem, 4vw, 3rem);
  margin-bottom: 60px;
}

/* GRID */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 40px;
}

/* CARD */
.project-card {
  background: #1f1f1f;
  border-radius: 16px;
  overflow: hidden;

  border: 1px solid rgba(255, 255, 255, 0.08);

  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.55);
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.project-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 12px 28px rgba(169, 1, 1, 0.7);
}


/* IMAGE */
.project-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

/* CONTENT */
.project-content {
  padding: 24px;
}

.project-content h2 {
  color: #e50914;
  margin-bottom: 10px;
  font-size: 1.3rem;
}

.project-content p {
  font-size: 0.95rem;
  color: #ddd;
  line-height: 1.6;
}

/* TECH PILLS */
.tech-stack {
  margin-top: 18px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tech-stack span {
  background: #111;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 0.8rem;
  color: #bbb;
}
